*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-position: center;
    background-size: cover;
    background-image: url(picture/korea.jpg);
    margin-bottom: 40px;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 160px;
    width: 100%;
    color: white;
    border: solid rgb(231, 223, 116) 5px;
    font-size: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.left-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}